<html>

<% include ./header %>

<body>
    <div style="margin:0px;">
        
        <div class="jumbotron" style="padding:40px;">
            <h1>Booking</h1>
            <h2>1) Choose a date.</h2>
            <form action="/book" method="post">Date<input type="date" name="date" /><input type="submit" /></form>
            <h2>2) Choose a movie to book.</h2>
            <%-booking %>
        </div>
    </div>
    <% include ./footer %>

</body>

</html>