<footer class="container-fluid text-center">
    <p>Copyright(c) 2019 All rights reserved. </p>
    <p>Team Leader: Yunchang Chae (Homepage)</p>
    <p>Team member: </p>
</footer>

<!-- jquery -->
<script src="/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- other scripts -->
<script src="/javascripts/navigateBar.js"></script>
<script src='/javascripts/<%= pagejs %>'></script>
