<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheet -->
    <link rel="stylesheet" href='/stylesheets/<%= pagecss %>'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title><%= pagetitle %></title>
</head>