.list-group a {
    text-align: left;
}
.carousel-caption > p{
    font-size: 2vh;
}
#myCarousel{
    margin-left: 10px;
    width: 30vw;
    height:80vh;
}
.carousel-inner > .carousel-item > img {
    width: 100%;
	height:80vh;
}
