body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* add by yunchang for home */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
